- content_for :title do
  Corsego 
  | 
  New enrollment

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      = link_to @course.title, course_path(@course)
      %hr
      .fa.fa-lock-open
      Buy course
  .card-body
    = form_tag course_enrollments_path(@course) do
      %script.stripe-button{"data-amount" => "#{(@course.price * 100).to_i}",
                            "data-description" => "#{@course.title} (#{number_to_currency @course.price})",
                            "data-email" => "#{current_user.email}",
                            "data-key" => "pk_test_51MujOnAXntmLbwQfCBrqbuZKrPBSaA8sdudRapah1c2YZF5FR5qP8nfIKg6bmleAM6pMJabpcvrdvcCv9hLWWxZu00L47lZpr6",
                            "data-locale" => "auto",
                            :src => "https://checkout.stripe.com/checkout.js"}
  .card-footer
    = link_to 'Back', course_path(@course)
